version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: aegis_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432" 
    volumes:
      - aegis_pg_data:/var/lib/postgresql/data

volumes:
  aegis_pg_data: